<main class="container">
  <%= link_to sanitize("&larr; Back to quote"), quote_path(@quote) %>

  <div class="header">
    <h1>Edit quote</h1>
  </div>

  <div id="<%= dom_id(@quote) %>" updated="<%= Time.current %>" up-keep>
    <%= render "form", quote: @quote %>
  </div>
</main>
