<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote",
        new_quote_path,
        class: "btn btn--primary",
        "up-target" => "##{dom_id(Quote.new)}" %>
  </div>

  <div id="<%= dom_id(Quote.new) %>"></div>

  <div id="quotes" up-poll up-source="/quotes">
    <%= render "no_quotes" %>
    <%= render @quotes %>
  </div>
</main>
